.details {
  background-color: var(--lght-grey);
  grid-column: 1 / -1;
}

.details-art {
  margin-right: 25px;
  text-align: right;
}

.details-art-img {
  height: 150px;
  width: 150px;
}

.details-button {
  background-color: var(--lght-teal);
  border-radius: 5px;
  color: var(--drk-blue);
  border: 2px solid var(--drk-blue);
}

.details-column {
  width: 50%;
}

.details-list {
  text-align: left;
}

.details-row {
  display: flex;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(6, auto);
  background-color: #ffffff;
}

.grid-item {
  border: 1px solid black;
  padding: 5px;
  text-align: center;
}

.sort-arrow {
  color: var(--drk-blue);
  cursor: pointer;
}

.table-header {
  background-color: var(--lght-teal);
}