.click-hand {
  cursor: pointer;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
}

.grid-item {
  border: 1px solid black;
  padding: 5px;
  text-align: center;
}